.containerParallaxe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: beige;
    transform: skew(0deg, -8deg) translateY(-98px);
    height: 500px;

}

.containerParallaxe .box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
}

.containerParallaxe .box-img:nth-child(1) {
    background-image: url("https://i.pinimg.com/736x/fb/d7/46/fbd746e4aa864c15230bd549e90490c0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.containerParallaxe .box-img:nth-child(2) {
    background-color: #2e537e;

}


.containerParallaxe .box-img .text {
    transform: skew(0deg, 8deg)
}

.containerParallaxe .box-img .text h1{
font-family: 'Libre Caslon Display', serif;
  color: white;
}

.text-p {
    padding: 37px 59px;
    color: white;
}

.containerParallaxe .box-img button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 37px;
    color: white;
    transition: 0.5s;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

button span {
position: absolute;
width: 0;
height: 100%;
top: 0;
left: 0;
background-color: rgba(255, 255, 255, 0.354);
z-index: 1;
transition: 0.2s;
border-radius: 7px;

}

button:hover span {
width: 100%;
}

button:hover {
color: black;
}


@media screen and (min-width: 480px) and (max-width: 767.9px)  {


.containerParallaxe {
    display: grid;
    grid-template-columns: 1fr;
    transform: skew(0deg, -8deg) translateY(-98px);
    height: 840px;

}
.containerParallaxe .box-img:nth-child(1) {
    background-image: url("https://i.pinimg.com/736x/fb/d7/46/fbd746e4aa864c15230bd549e90490c0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    width: 100%;

}
.containerParallaxe .box-img:nth-child(2) {
    background-color: #2e537e;
    height: 449px;
    width: 100%;

}


}


@media screen and (min-width: 320px) and (max-width: 479.9px)   {


.containerParallaxe {
    display: grid;
    grid-template-columns: 1fr;
    transform: skew(0deg, -8deg) translateY(-98px);
    height: 800px;

}
.containerParallaxe .box-img:nth-child(1) {
    background-image: url("https://i.pinimg.com/736x/fb/d7/46/fbd746e4aa864c15230bd549e90490c0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    width: 100%;

}
.containerParallaxe .box-img:nth-child(2) {
    background-color: #2e537e;
    height: 400px;
    width: 100%;

}


}