.containerhero {
background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/wq7bQpHNLXdxajd2JZ5ON/adabf59972e39ada322a2862109fb28d/Patronus__1_.jpg?q=70");
background-size: cover;
object-position: center;
background-repeat: no-repeat;
width: 100%;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
z-index: 123;

}

.herosection2 {
padding: 20px;
display: flex;
flex-direction: column;
gap: 12px;
}

.herosection2  .title {
color: white;
font-size: 40px;
font-weight: 200;
padding-bottom: 30px;
font-family: 'Libre Caslon Display', serif;
}

.herosection2 button {
background-color:  transparent;
border:  1px solid white;
padding: 12px 37px;
color: white;
} 

