
.card-person {
display: flex;
flex-direction: column;
height: 500px;
width: 300px;
position: relative;

}

.card-person .card-image {

width: 100%;
height: 100%;


}

.card-person .card-image img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: top;
border-radius: 10px;
box-shadow: 5px 1px 9px rgba(53, 52, 52, 0.445);
}

.card-person .card-content {
padding: 22px;
position:absolute;
top: 70%;
background-color: rgba(1,1,1,0.8);
width: 100%;
color: white;
letter-spacing: 2px;
font-family: 'Libre Caslon Display', serif;
text-transform: uppercase;
font-size: 15px;
font-weight: 100;
}


.activemodale {

position: absolute;
    left: 38%;
    top: 88%;
    background: linear-gradient(to right, #8E54E9, #4776E6);
    box-shadow: 0 0 5px lightblue;
    padding: 5px 5px;
    border-radius: 50%;
    width: 82px;
    height: 82px;
    font-size: 47px;
    color: white;
    font-weight: 100;

}





.myModal {
    position: fixed;
    top:0;
    background-color: rgba(1,1,1,0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appear 1s;
    z-index: 12
}

.conmodal{
background: linear-gradient(91deg, rgba(7, 58, 187, 1) 22%, rgba(255, 255, 255, 1) 21%);
display: grid;
grid-template-columns: 1fr 1fr;
margin: 0 auto;
width: 70%;
height: 70%;
}

.conmodal .modal-img {

width: 250px;
    height: 347px;
    background-repeat: no-repeat;
    margin: 23px auto;
    
}

.conmodal .modal-img img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

.conmodal .modal-text {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 90%;
}

.conmodal .modal-text .modaltitle {
padding-bottom: 21px;
}

.conmodal .modal-text .modaltsuvitle ul {
display: flex;
flex-direction: row;
gap: 29px;
list-style: none;
padding-bottom: 21px;
}

.conmodal .modal-text p {
padding-bottom: 12px;
}

.etat {
background-color: green;
border-radius: 50%;
width: 20px;
height: 20px;
}

button {

background-color: #073abb;
padding: 12px 22px;
color: white;
border-radius: 7px;
border: none;

}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

