.section-personnage {

width: 100%;
}

.CharactersContainer {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 21px;
}